thead.header-color th {
    background: linear-gradient(to right, rgb(255, 126, 95), rgb(198, 61, 150));
    color: white;
}
.button-color{
    background: linear-gradient(to right, rgb(255, 126, 95), rgb(198, 61, 150));
    color: white;
}